<h1>Finder</h1>
<%= form_tag '/find_out', method: :get, remote: true do %>
  <%= label_tag :name, :Name %>
  <br>
  <%= text_field_tag :name %>
  <br>
  <%= label_tag :type, :Type %>
  <br>
  <%= text_field_tag :type %>
  <br>
  <%= label_tag :designed, 'Designed by' %>
  <br>
  <%= text_field_tag :designed %>
  <br>
  <%= submit_tag 'Find out' %>
<% end %>
<br>
<div id="finder_result"></div>
